{% extends "todolist/base_todolist.html" %}

{% block content %}

<div class="container w-50">
        {% for error in errors %}

            <p style="background-color: #d9696a; color: white; padding: 10px; border-radius: 10px">
                {{ error }}
            </p>

        {% endfor %}
</div>

</div class="container w-50">

    <form method="post">

        {% csrf_token %}

        <div>
            <label>
                Заголовок
                <input name="title" value="{{ post.title }}">
            </label>
        </div>

        <div>
            <label>
                Содержимое
                <textarea name="text">{{ post.content }}</textarea>
            </label>
        </div>

        <button type="submit" class="btn btn-warning">Send</button>

    </form>
</div>
{% endblock %}
