{% extends "todolist/base_todolist.html" %}

{% block content %}

<div class="container my-2">
    <h1>
        {{ post.title }}
    </h1>

    <span style="border-radius: 15px; background-color: #a2a8d9; color: white; padding: 5px">
        {{ post.created }}
    </span>

    <div style="margin: 20px">
        {{ post.content }}
    </div>

    <div class="container">
        <a class="btn btn-secondary btn-sm" href="{% url "post_edit" post.id %}">Edit</a>
        <a class="btn btn-primary btn-sm" href="{% url "post_delete" post.id %}">Delete</a>
    </div>

</div>
{% endblock %}
