<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="container w-50">
        <div class="d-flex justify-content-center py-3">
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'posts:home' %}" class="nav-link px-2">Home</a></li>
                <li><a href="#" class="nav-link px-2">About</a></li>

                {% if request.user.is_authenticated %}
                         <li><a class="btn btn-success bs-tooltip-bottom" href="#">Profile</a></li>
                         <li><a class="btn btn-primary" href="{% url 'accounts:logout'%}">Sign-out</a></li>
                     {% else %}
                         <a href="{% url 'accounts:login'%}">
                             <button type="button" class="btn btn-outline-primary me-2">Login</button>
                         </a>
                         <a href="#">
                             <button type="button" class="btn btn-primary">Registration</button>
                         </a>
                     {% endif %}
                </ul>

</header>
